@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Scheduler</h1>
    <p></p>
    <h4> The greatest scheduler on earth...</h4>
    <p></p>
    <h6>Well, soon to be a decent scheduler on earth</h6>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
